<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home page</title>
</head>
<body>
<h1>Home page</h1>
<p th:text="${currentTime}" class="time">Current date time</p>


    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to users.
    </div>
<sec:authorize access="hasRole('ROLE_USER')">
    <p>Must have ROLE_USER</p>
</sec:authorize>

</body>
</html>